{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="w-4/5 m-auto pt-40">
    <h1 class="text-6xl text-center pb-12">
        Zarejestruj
    </h1>
    {{ form_errors(registrationForm) }}

     {{ form_start(registrationForm) }}

        {{ form_widget(registrationForm) }}
        <button    
            type="submit"
            class="uppercase mt-15 bg-blue-500 text-gray-100 text-lg font-extrabold py-4 px-8 rounded-3xl">
            Rejestruj
        </button>

    {{ form_end(registrationForm) }}
</div>
{% endblock %}
